<div class="card-trip ct-dark-text">




  <div class="card-trip-infos">
    <div>
      <h2> <%= booking.listing.brand %> <%= booking.listing.name %> </h2>
      <h6 class="ct-grey-text"> <%= booking.listing.production_year %> </h6>
      <h6 class="margin-zero mt-3 ct-grey-text"> Car booked for <strong><%= booking.days %> days </strong></h6>
      <h6 class="margin-zero mt-3 ct-grey-text"> Total Price</h6>
      <h2 class="margin-zero"> €<%= booking.total_price %></h2>


    </div>

  </div>
</div>
