<div class="card-trip">
 <%= render 'components/carousel-cards-index', listing: listing%>
 <!--  <img src= "<%= image_path('card_image2.jpg') %>"> -->
  <div class="card-trip-infos">
    <div>
      <h2><%= listing.brand %></h2>
      <p><%= listing.name %></p>
    </div>
    <h2 class="card-trip-pricing"><%= listing.prices %>€/day</h2>
  </div>
</div>
