<body class="ct-dark">

  <%= render 'components/navbar'%>
  <div class="container mt-5">
    <div class="row">
      <div class="col-6 bg-danger">
        <!-- PICTURES HERE -->
      </div>
      <div class="col-6 text-light">

        <div class="row">
          <div class="col-6">
            <h2> <%= @listing.brand %> <%= @listing.name %> </h2>
          </div>
          <div class="col-6 d-flex justify-content-end">
            <!-- Button trigger modal SAVE-->
            <%= simple_form_for [@listing, @saved_listing] do |f|%>
              <%= f.button :submit, class:"btn btn-outline-light w-100 mt-3" %>
            <% end %>
          </div>
        </div>
        <p> Production Year >>> <%= @listing.production_year %> </p>
        <p> Engine >>> <%= @listing.engine %> </p>
        <p> Horse Power >>> <%= @listing.horsepower %> </p>
        <p> Horse Power >>> <%= @listing.description %> </p>
        <h2> <%= @listing.price %> €/day </h2>
         <!-- Button trigger modal BOOKING-->
        <button type="button" class="btn btn-danger mt-5 px-5" data-toggle="modal" data-target="#bookingModal">
          BOOK NOW!
        </button>

        <!-- Modal SAVE-->
        <%= render 'components/save-modal'%>

        <!-- BOOKING MODAL-->
        <%= render 'components/booking-modal'%>

      </div>
    </div>
  </div>

</body>







