<body class="ct-dark">

  <%= render 'components/navbar'%>
  <div class="container mt-5">
    <div class="row">
      <div class="col-6 bg-danger">
        <!-- PICTURES HERE -->
      </div>
      <div class="col-6 text-light">

        <div class="row">
          <div class="col-6">
            <h2> <%= @listing.brand %> <%= @listing.name %> </h2>
          </div>
          <div class="col-6 d-flex justify-content-end">
             <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-share pr-1"></i> Save
            </button>
          </div>
        </div>

        <!-- Button trigger modal -->

        <p> Production Year >>> <%= @listing.production_year %> </p>
        <h2> <%= @listing.prices %> €/day </h2>



        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">Save your ride for later!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body text-dark">
                <p> <%= @listing.brand %> <%= @listing.name %> has been saved into your profile</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>

        <%= render 'components/booking-form' %>



      </div>
    </div>
  </div>

</body>







