<div class="dark">
  <%= render 'components/navbar'%>
</div>
<div class="row">
  <div class="col-3 menu">
    <div class="text-center">
      <h1> Welcome <%= @user.name %> </h1>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item active" id="info">Account Info</li>
      <li class="list-group-item" id="listing">Your Listings</li>
      <li class="list-group-item" id="booking">Your Bookings</li>
      <li class="list-group-item" id="saved">Your Saved Listings</li>
    </ul>
  </div>
  <div class="col-9">
    <div class="hidden content" data-info-type="info">
      <h3>Account Info</h3>
      <div>
        <h4>Email:</h4>
        <p><%= @user.email %></p>
        <h4>Display Name:</h4>
        <p><%= @user.name %></p>
        <%= link_to 'Change Accout Info' %>
        <%= link_to 'Change Password' %>
      </div>
    </div>
    <div class="hidden content" data-info-type="listing">
      <h3> Your listings are: </h3>
      <div class ="cards">
        <% if @listings.present? %>
          <% @listings.each do |listing| %>
            <%= link_to listing_path(listing) do %>
              <%= render 'components/listing-card', listing: listing %>
            <% end %>
          <% end %>
        <% else %>
          <p> Currently, you have no listing! </p>
        <% end %>
      </div>
    </div>
    <div class="hidden content" data-info-type="booking">
      <h3> Your bookings are: </h3>
        <div class ="cards">
            <% if @bookings.present? %>
              <% @bookings.each do |booking| %>
                <%= render 'components/booking-card', booking: booking %>
              <% end %>
            <% else %>
              <p> Currently, you have no bookings! </p>
          <% end %>
        </div>
    </div>
    <div class="hidden content" data-info-type="saved">
      <!-- get saved things code -->
    </div>
  </div>
</div>
